* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 248, 230);
}

h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    display: flex;
    margin: 1rem auto 3rem;
    justify-content: center;
    align-items: center;
}

input {
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    margin: 3rem auto 5rem;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: clamp(3.5rem, 10vw, 4rem);
    font-size: clamp(2rem, 3vw, 3.2rem);
}

#potrdi {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #06d606c7;
    font-size: clamp(1.5rem, 3vw, 3.2rem);
    padding: 1rem 3rem;
}

#preveri {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ebebebdb;
    font-size: clamp(1.5rem, 3vw, 3.2rem);
    padding: 1rem 3rem;
}

#again {
    justify-content: center;
    margin: 1rem auto;
    align-items: center;
    display: none;
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ebebebdb;
    font-size: clamp(1.5rem, 3vw, 3.2rem);
    padding: 1rem 3rem;
}


#correctOrNot {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-size: clamp(1.5rem, 1.5vw, 3.2rem);
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#racun {
    display: flex;
    margin: 1rem auto;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#start {
    display: flex;
    margin: 1rem 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    font-size: clamp(2rem, 2vw, 3rem);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
